* {
    
    font-family: 'Fredoka One', cursive;
}

body {
    background: url(./background.jpg);
    background-size: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    height: 700px;
    width:500px;
    background-color: rgba(71, 71, 71, 0.452);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.players {
    display: flex;
    width: 450px;
    justify-content: space-between;
}
.player1,
.player2,
.new-game,
.start-game {
    font-size: 1.2em;
    background-color: rgb(37, 37, 37);
    padding: 20px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 5px;
    color: beige;
}
.start-game:hover {
    background-color: rgb(78, 78, 78);
}
.new-game {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgba(37, 37, 37, 0.637);
}
.new-round {
    display: flex;
    
}
.win-text{
    font-size: 2em;
    margin: 20px;
}
.yes,
.no{
    background-color: rgba(37, 37, 37, 0.637);
    padding: 10px 25px;
    margin: 10px;
}
.yes:hover,
.no:hover{
    background-color: rgba(78, 78, 78, 0.589);
}


.score {
    font-size: 1.5em;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 10px;
}
.gameboard {
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 450px;
    height: 450px;
    background-image: url("./image5544.png") ;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}
.slot {
    position: relative;
    top:10px;
    left:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;
    color: white;
    font-size: 4em;
    
    width: 90%;
    height:90%;
    display: grid;
    place-items: center;
    
}
.winner {
    color: red;
}

#slot0{
    grid-column: 1;
    grid-row: 1;
}
.game-controls {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.choose-opponent {
    margin-top: 10px;
    border-radius: 10% 5px;
}
.choose-opponent:hover {
    background-color: rgb(78, 78, 78);
    
}

.options {
    background-color: rgba(0, 0, 0, 0.822);
    color: beige;
    padding: 20px;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    position: absolute;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.747);
}

.choose-title {
    font-size: 1.5em;
}
.chooser {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.choose-opponent {
    font-size: 1.2em;
    padding: 10px 25px;
    background-color: rgb(41, 41, 41);
    place-self: center;
}
.options-human, 
.options-pc {
    padding: 40px;
    display: none;
    flex-direction: column;
}
.radio-label {
    font-size: 1.4em;
}
fieldset {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

label {
    font-weight: bold;
    padding-top: 20px;
}
button {
    font-size: 1.3em;
    padding: 10px 25px;
}
.start-button {
    display:none;
}

.player-wins {
    background-color: rgba(29, 29, 29, 0.514);
    width: 400px;
    height: 350px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.win-name,
.win-title, 
.tie-title {
    font-size: 2.5em;
    color: beige;
    margin-bottom: 20px;
    display: none;
}
.symbol-select{
    font-size: 1.2em;
    background-color: rgb(37, 37, 37);
    padding: 10px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 5px;
    color: beige;
}



.accept {
    border-radius: 10px;
}